theme
website/index.html
website/css/main.css
website/js/main.js
website/cache
website/wp-config.php
sources/styles/node_modules
sources/javascript/components
sources/javascript/build
.DS_Store
resources/.DS_Store
resources/*.psd
website/.htaccess
website/wp-content/blogs.dir/
website/wp-content/upgrade/
website/wp-content/backup-db/
website/wp-content/advanced-cache.php
website/wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
*.yml
tools/*

