- var title = 'Titulo de pagina web';
- var url = 'http://url.raiz.del.proyecto/';
doctype 5
html(lang="en")
  head
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0")
    meta(property="og:title", content="Are You Ready?")
   link(rel="shorcut icon", href="favicon.ico")

 body
    #wrapper

