@media only screen and (max-width : 800px)
  #filters_menus
    div.wrap
      div.filter_rank
        margin: 26px 0px 0px 0px;
      div.header_reset
        margin: 22px 15px 0px 20px;

@media only screen and (max-width : 755px)
  #filters_menus
    div.wrap
      height: 90px
      div.filter_rank,
      div.filter_social
        margin: 0px
        position: absolute
        top: 12px
      div.filter_rank
        right: 26%
        margin-right: -50px
      div.filter_social
        left: 33%
        margin-left: -50px

      ul#filters_rank,
      ul#filters_social
        position: absolute
        bottom: 12px
        margin: 0px

      ul#filters_rank
        right: 26%
        margin-right: -100px
      ul#filters_social
        left: 33%
        margin-left: -100px
      div.header_reset
        margin-top: 34px;

@media only screen and (max-width : 740px)
  div#primary
    width: 480px
  .site-content .cubpage_content ul li
    width: 100%
    float: left
    margin-left: 0px

@media only screen and (max-width : 700px)
  #filters_menus
    div.wrap
      div.header_reset
        display: none
      div.filter_social
        left: 26%
      ul#filters_social
        left: 26%
  div#footer div#footer_become_cub:before,
  div#footer div#footer_become_cub:after
    width: 120px
  div#footer div#footer_become_cub:before
    right: -120px
  div#footer div#footer_become_cub:after
    left: -120px
@media only screen and (max-width : 600px)
  div#header 
    div.wrap
      padding-top: 65px
      height: 150px !important
      ul#smallmenu_social
        display: none
  div#sidebar
    div.sidebar_header
      left: 50%;
      margin-left: -70px;
  div#header .wrap div#header_title:before,
  div#header .wrap div#header_title:after
    width: 40px
  div#header .wrap div#header_title:before
    right: -40px
  div#header .wrap div#header_title:after
    left: -40px
  div#footer div#footer_become_cub:before,
  div#footer div#footer_become_cub:after
    width: 90px
  div#footer div#footer_become_cub:before
    right: -90px
  div#footer div#footer_become_cub:after
    left: -90px
  div#footer .wrap
    height: 330px;
    padding-top: 1px;
  div#footer ul#footer_footer
    font: 9px/10px Arial,Helvetica,sans-serif
    width: 490px
