@media only screen and (max-width : 479px)
  div#primary
    width: 320px
    margin: 0px auto

  #filters_menus
    div.wrap
      height: 160px
      div.filter_rank
        right: 50%
        top: 85px
      div.filter_social
        left: 50%
      ul#filters_rank
        right: 50%
      ul#filters_social
        left: 50%
        bottom: 85px
        width: 190px
        margin-left: -95px
  .isotope-container
    padding-left: 2px
  .item
    &.size-2x2
      width: 313px
      height: 313px
    &.size-2x1
      width: 313px
      height: 155px
    &.size-1x1
      width: 155px
      height: 155px

  div#header 
    .wrap
      div#header_title 
        font-size: 38px;
        height: 49px;
        line-height: 47px;
        width: 235px
        &:before,
        &:after
          top: 20px
  div#footer div#footer_become_cub
    width: 165px
    a
      color: rgb(255, 255, 255)
      font-size: 38px
      height: 36px
      line-height: 36px
    &:before,
    &:after
      width: 64px
      top: 12px
    &:before
      right: -60px
    &:after
      left: -60px
  div#footer ul#footer_footer
    font: 6px/10px Arial,Helvetica,sans-serif
    width: 318px
  div#footer .wrap
    height: 300px;

  .site-content .resources_content .resources_subcontent.grid_view .resource_item
    height: 156px;
    width: 156px;
    div.img_cont
      width: 156px;
      height: 115px;
    h1
      height: 44px
    .dl_link
      bottom: 7px
