/** buttons.styl
/* Codigo stylus para botones predefinidos.*/
/* Estos botones no necesitan nada mas que un codigo
/* simple de enlace como el que sigue en el ejemplo:
/* <a href="#" class="button">boton</a>
/* El texto a mostrar es el propio texto del elemento "<a>".*/

/* Definición de colores en "colors.styl"*/

/* Definiciones generales para botones grandes y chicos.*/

a.big-button
a.small-button
  display: block
  color: white
  background-color: $grey-medium
  text-transform: uppercase
  text-decoration: none
  position: relative
  padding-right: 60px
  transition: background-color 200ms ease-in
  &:hover
    background-color: $orange-dark
    color: $orange-light
  &:after
    display: block
    width: 24px
    height: 26px
    background-image: url('images/sprite.png')
    background-repeat: no-repeat
    background-position: -100px -108px
    position: absolute
    right: 12px
    top: 50%
    margin-top: -12px
    content: " "
    z-index: 100
    
/*Definiciones específicas para boton grande.*/
/*Boton con dos pseudo elementos con css2.
/*Estos son la flecha y el sobreado a la derecha.*/

a.big-button
  padding: 0px 70px 0px 20px
  height: 90px
  display: inline-block
  line-height: 90px
  font-size: 16px
  font-weight: bold
  &:before
    display: block
    content: " "
    width: 50px
    height: 90px
    position: absolute
    background-image: url('images/dash-bg-dark.png')
    background-repeat: repeat
    top: 0px
    right: 0px
    z-index: 10
    
/*Definiciones específicas para boton chico.*/
/*Boton con un pseudo elemento css2.
/*Este es la flecha.*/

a.small-button
  color: $orange-light
  padding: 0px 45px 0px 20px
  height: 40px
  display: inline-block
  line-height: 38px
  font-size: 12px
  text-transform: none
  &:after
    width: 12px
    height: 12px
    background-position: -14px -119px
    position: relative
    display: inline-block
    top: 2px
    right: -10px

/* Boton con saliente y efecto, con imagen.*/
/* Se usan dos pseudo clases css2 para lograr
/* el efecto de transición de color sobre el sprite
/* y sobre de background-color para que se vean iguales.*/
/* Para usar este boton, basta insertar un codigo como este:
/* <a href="#" class="menu-button"><img width="x" height="x"
/* src="-path-" alt="algun texto" /><span>algun texto</span></a>
/* El texto a mostrar se incluye en el elemento "<span>"*/

a.menu-button
  height: 50px
  img
    top: 2px
    position: relative
  span
    text-transform: none
    display: block
    height: 50px
    line-height: 48px
    font-size: 14px
    line-height: 50px
    background-color: $grey-medium
    color: $orange-light
    padding-left: 20px
    transition: background-color 200ms ease-in
    position: relative
    &:before
    &:after
      content: " "
      width: 10px
      position: absolute
      display: block
      height: 10px
      top: -10px
      left: 20px
      background-position: -190px -20px
      background-image: url('images/sprite.png')
    &:after
      top: -10px
      transition: opacity 200ms ease-in
      background-position: -200px -20px
      opacity: 0
  &:hover
    span
      background-color: $orange-dark
      &:after
        opacity: 1

input[type="submit"].button-light
a.link-button-light
  font: normal 27px $main-font
  text-transform: uppercase
  background-color: rgba(255,255,255, 0.5)
  color: $gray
  margin: 10px auto 0
  height: 70px
  line-height: 70px
  width: 280px
  text-align: center
  display: block
  border:none
  text-decoration: none
  box-shadow: -6px 6px 0 rgba(0, 0, 0, 0.25)
  -webkit-appearance: none;
  &:hover
    background-color: rgba(255, 255, 255, 0.3)

